*{
padding:0;
margin:0;
box-sizing:border-box;
}

body{
background-color:#f5f5f5;
font-family: "Nunito", sans-serif;
}

/* Navigation section */

nav{
background-color:#007ab3;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav p{
color:white;
text-align:center;
font-size:28px;
font-weight:600;
}

nav button{
background-color:transparent;
color:white;
padding:10px;
border-radius:8px;
border-color:white;
font-weight:600;
}

/* home section */
.parent{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}

.child{
width:80%;
display:flex;
justify-content:center;
align-items:center;
}

.home img{
border-radius:50%;
width:300px;
height:300px;
margin-top:20px;
}

.home{
width:100%;
text-align:center;
}

.home-sub{
background-color:#007ab3;
color:white;
width:100%;
padding:20px;
border-radius:10px;	
margin-top:10px;
margin-bottom:20px;
}

.name{
font-size:26px;
font-weight:700;
}

.position{
font-size:20px;
font-weight:600;
color:white;
opacity:0.6;
margin-bottom:20px;
}

.contact{
background-color:whitesmoke;
border:none;
border-radius:8px;
padding:12px;
}


/* Intro Section */

.intro-main{
width:100%;
display:flex;
justify-content:center;
align-items:center;
margin-bottom:80px;
}


.intro-sub{
width:80%;
background-color:rgba(0,0,0,0.1);
padding:20px;
border-radius:10px;
text-align:center;
}

.ins{
text-align:center;
padding:10px;
border-radius:7px;
border:1px solid black;
font-weight:700;
margin-bottom:30px;
}

.p-head{
font-size:20px;
font-weight:800;
margin-bottom:20px;
}

.p-para{
font-size:16px;
font-weight:500;
margin-bottom:20px;
}

.p-button{
background-color:orange;
padding:10px 30px;
border-radius:10px;
border:none;
font-weight:800;
color:white;
}


/* footer section */

.footer{
width:100%;
display:flex;
justify-content:space-evenly;
align-items:center;
padding:10px;
border-top:1px solid gray;
position:fixed;
bottom:0;
background-color:whitesmoke;
}

.footer img{
width:30px;
}
















@media screen and (min-width:320px) and (max-width:768px){
.home img{
width:180px;
height:180px;
margin-top:20px;
}

.name{
font-size:24px;
font-weight:700;
}

.position{
font-size:14px;
font-weight:600;
color:white;
opacity:0.6;
margin-bottom:10px;
}

.contact{
background-color:whitesmoke;
border:none;
border-radius:8px;
padding:12px;
font-weight:700;
}

}










